//variables font sizes

$f-sz-L: 3rem;
$f-sz-ML: 2.5rem;
$f-sz-M: 2rem;
$f-sz-SM: 1.5rem;
$f-sz-S: 1rem;
$f-sz-XS: 0.5rem;
$f-sz-XXS: 0.25rem;
//var font weight
$f-wg-L:700; 
$f-wg-M:500; 
$f-wg-S:200; 
$f-wg-XS:100; 
    

// borde radius
$bdr-rad:15px;
