
#main_bebidas_verde {
    background-color: $cVerde;
}
.imgBebida{
    @include tam2 (block, 0rem auto, $bdr-rad);
    width: 90%;
    height: 90%;
    margin-top: 1rem;
    @media (max-width: 370px){
        margin-top: 0.5rem;
    }
}
.bebidas__BoxMaster{
    @include position (flex, none, wrap, 2rem, center,none);
    color: $cCafe;
    padding: 30px;
    @media (max-width: 370px){
        padding: 1rem;
        gap: 1rem;
    }
}
.bebidas__BoxEsclavo{
    @include boxEsc (1rem, 1px solid $cCafe, 1rem, 20rem, $bdr-rad, justify, $cCafe);
    @include aniBrd;
    display:flex;
    flex-direction: column;
    height: auto;
    @media (max-width: 370px){
        @include boxEsc (0rem, 1px solid $cCafe, 1rem, 14rem, $bdr-rad, justify, $cCafe);
        @include aniBrd;
    }
}
.bebidas__padMar{
    @include deco (0rem, 1rem, none)
}
.bebidas__padNone{
    @media (max-width: 992px),(max-width: 370px){
        @include deco (0rem, 1rem, none)
    }
}

